body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    box-sizing: border-box;
    padding: 20px 20px 60px;
    max-width: 680px;
    display: grid;
    align-content: center;
    min-height: 100vh;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.65;
    word-break: break-word;
    font-kerning: auto;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    hyphens: auto;
    text-align: center;
}
  
h1 {
  text-align: center;
  font-size: 45px;
}

a {
  cursor: pointer;
  color: #0076ff;
  text-decoration: none;
  transition: all 0.2s ease;
  border-bottom: 1px solid white;
}
span {
  display: block;
}
a:hover {
  border-bottom: 1px solid #0076ff;
}
.btn-flat {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: black;
  background: #ECECEC;
}

.btn-flat:hover {
  background: #00bcd4;
  color: white;
}
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: solid 2px black;
  border-radius: 10px;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}
.cover {
  display: flex;
}
.inner {
  padding: 10px;
  margin: 10px;
  border: solid 5px black;
  border-radius: 10px;
}